{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Moderated Users {% endblock %}</h1>
    {% for post in posts %}
        <a href="{{ url_for('users', username=post['author']) }}">
            <h2>{{ post['author'] }}</h2>
        </a>
        <a href="{{ url_for('post', post_id=post['id']) }}">
            <p>{{ post['message'] }}</p>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        {% set user_id = get_user(post['author']) %}
        {% if flagged(user_id) %}
            <span class="badge badge-warning">Warned</span>
            {% if number_of_messages(post['author']) > 2 %}
                <span class="badge badge-danger">Recidivist</span>
            {% endif %}
        {% endif %}
        <hr>
    {% endfor %}
{% endblock %}